@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

:root {
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  --paragraph-font: 16px;
}

body {
  background-color: var(--dark-slate-grey);
}
.parent{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 80%;
  height: 535px;
  margin: 60px auto;
  gap: 20px;
  border-radius: 25px;
  
}
.child{
  width:45%;
  height:80%;
}
.child:nth-child(1) {
  padding: 15px 0px 15px 15px;
}
.child:nth-child(1) h1{
  color: var(--dark-slate-grey);
  font-size: 36px;
  font-weight: 700;
  margin-top: 45px;
}
.child:nth-child(1) p{
  padding: 20px 0px 20px 0px;
  width: 82%;
}

.icons{
  margin: 10px 0px;
}

.icons h2{
  display: inline-flex;
  font-weight: 700;
  width: 82%;
  padding-bottom: 5px;
  font-size: 15px;
  color: var(--charcoal-grey);
}
.icons img{
  padding-right:12px;
}
.email {
  margin-top: 25px; 
}
.address {
  color: var(--dark-slate-grey);
  font-size: 11px;
  font-weight: 700;
}
.input-email {
  width: 80%;
  display: block;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--grey);
}
.btn {
  background-color: var(--dark-slate-grey);
  padding: 10px;
  width: 80%;
  border-radius: 4px;
  outline: none;
  margin: 15px 0;
  color: var(--white);
  border: none;
  font-weight: 700;
}

/* image */
.child:nth-child(2)
{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
  height: 490px;
  border-radius: 20px;
  
}
.child:nth-child(2) .ninetyfour{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.child:nth-child(2) img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  
}

/* -----success desktop design */
.success{
  background-color: white;
  width: 40%;
  height:500px;
  margin: 90px auto;
  border-radius: 25px;
  padding-left:40px;
 
}
.icon-success{
  padding-top: 50px;
}
.message{
  width: 90%;


}
.success h1{
  padding-top: 45px;
  width: 300px;
  padding-bottom: 30px;
  font-size: 50px;
  color: var(--dark-slate-grey);
}
.success p {
  color: #222;
  margin-bottom: 20px;
}
.success .btn{
  margin-top: 20px;
  padding: 20px;
  width: 100%;
}
.success .btn a{
  text-decoration: none;
  color: #fff;
}

.success .btn:hover{
  background-color: var(--tomato);
}


/*---------------------------------------error------------------------------------------ */
/* error message */


.valid {
  padding-left: 200px;
  margin-top: -15px;
  color: var(--tomato);
  display: none;


}

.error {
  background-color: #feb8b9;
  border: 1px solid var(--tomato);
  color: var(--tomato);
  width: 80%;
  display: block;
  margin-top: 5px;
  padding: 10px;
  border-radius: 4px;
  outline: none;

}
/**
 *! media querries
  **/

  @media (max-width:768px) {
    .parent{
      display: flex;
      flex-direction: column-reverse;
      margin: 0px;
      width: 100%;
      height: auto;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
            
    }
     .child{
      margin-top: 0px;
      display: flex;
      flex-direction: column;
      height: 45%;
      }
    .child:nth-child(1) {
      width: 100%;
      height: auto;
          
      }
      .subscribe{
        width: 100%;
      
             }
   .child:nth-child(1) h1{
    margin-top: -30px;
   }
   .icons h2{
    display: flex;
    align-items: center;
    color: var(--charcoal-grey);
    font-weight: 400; 
    width: 264px;
    font-size: 15px;
    

   }
    .icons {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      padding-bottom: 90px;
    }
    .icons img{
      width: 100%;
      height: 100%;
      object-fit: cover;
   
    }
    
    .child p{
      padding: 15px;
    }
        .email {
          display: block;
          position: relative;
          width: 80%;
        
        }
    
        .address {
          color: var(--dark-slate-grey);
          font-size: 11px;
          font-weight: 700;
        }
    
        .input-email {
          width:100%;
          display: block;
          margin-top: 5px;
          padding: 12px;
          border-radius: 4px;
          outline: none;
          border: 1px solid var(--grey);
        }
    
        .btn {
          background-color: var(--dark-slate-grey);
          padding: 12px;
          width: 100%;
          border-radius: 4px;
          outline: none;
          margin: 15px 0;
          color: var(--white);
          border: none;
          font-weight: 700;
        }

    /* image */
        .child:nth-child(2) {
          width: 100%;
          height: 100%;
          margin-top: -90px;
          border-top-right-radius: 0px;
          border-top-left-radius: 0px;background-color: green;
        }    
        .child:nth-child(2) .ninetyfour {
          width: 100%;
          height: 400px;
          border-top-right-radius: 0px;
          border-top-left-radius: 0px;
              
        }    
        .child:nth-child(2) img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-top-right-radius: 0px;
          border-top-left-radius: 0px;
      }
     
   
  }
  /* success mobile design */
  @media (max-width:375px) {
    .success{
      width: 100%;
      border-radius: 0px;
      padding-left: 15px;
      margin-top: 0;
      margin: 0px;
    
    }
    .icon-success {
    padding-top: 25px;
    }
    .success h1{
      font-size: 30px;
      padding: 15px 0;
    }
    .success p{
      width: 300px;
      font-size: 16px;
      padding: 9px;
      
    }
    .success .btn{
      padding: 12px;
      margin: 5px auto;
      width: 90%;
    }
    .valid{
      padding-left: 108px;
   
    }
    

  }